<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p class="center tom_xlarge"> Hi {{ user.username }}! </p>
    <p></p>
    <button class="center"> <a href="/rotw/{{ user.id }}"> check your schedules </a></button>
    <p></p>
    <button class="center back_tomato"><a href="{% url 'logout' %}">logout</a></button>
{% else %}
    <div class="center tom_xlarge">You are not logged in</div>
    <p></p>
    <button class="center"><a href="{% url 'login' %}">login</a></button>
    <p></p>
    <button  class="center"><a href="{% url 'signup' %}">register</a></button>
{% endif %}
{% endblock %}