<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Plan details {% endblock %}

{% block content %}

<p> user: {{ user.username }}</p>
<p> plan starting {{ plan.start_date }}</p>

<p> activities included in the plan </p>


<table>
    <tr>
        <th> short name </th>
        <th> description </th>
        <th> priority </th>
        <th> hours (aspirational) </th>
    </tr>

{% for a in plan_act %}
    <tr>
        <td> {{ a.name }} </td>
        <td> {{ a.description}} </td>
        <td> {{ a.priority}} </td>
        <td> {{ a.assumed_time}} </td>
        <td> {{ a.id }} </td>
        <td> <a href="/rotw/activity/{{ a.id }}"> edit </a> </td>
        <td> <a href="/rotw/activity/remove/{{ a.id }}"> delete </a> </td>

    </tr>
{% endfor %}
</table>
<p> initial time for all activities = {{ sum_act }}</p>


<p> add new activity </p>
<form method="post">
    {%  csrf_token %}
    {{ form_act.as_p }}
    <input type="submit" value="add activity" name="submit">
</form>




<p> available time slots </p>


<table>
    <tr>
        <th> day </th>
        <th> start_time </th>
        <th> end_time </th>
        <th> duration </th>
    </tr>

{% for a in plan_ava %}
    <tr>
        <td> {{ a.day}} </td>
        <td> {{ a.get_start_time_display}} </td>
        <td> {{ a.get_end_time_display}} </td>
        <td> {{ a.duration|floatformat:1}} </td>
        <td> <a href="/rotw/availability/{{ a.id }}"> edit </a> </td>
        <td> <a href="/rotw/availability/remove/{{ a.id }}"> delete </a> </td>

    </tr>
{% endfor %}
</table>
<p> available time = {{ sum_ava }}</p>

    <form method="post">
    {%  csrf_token %}
    {{ form_ava.as_p }}
    <input type="submit" value="add time slot" name="submit">
</form>

<p></p>
    <h2><a href="/rotw/schedule_details/{{ user.id }}/{{ plan.id }}">see the schedule</a></h2>
    <h2><a href="/rotw/schedule_recalculation/{{ user.id }}/{{ plan.id }}">recalculate the schedule</a></h2>

{% endblock %}