<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Schedule details {% endblock %}

{% block content %}

<p> user: {{ schedule.user.username }}</p>
<p> plan starting {{ schedule.plan.start_date }}</p>

<p> schedule </p>

<table>
    <tr>
        <th> day  </th>
        <th> hour </th>
        <th> order </th>
        <th> activity </th>
    </tr>

{% for a in schedule %}
    <tr>
        <th> {{schedule.availability.day  }}</th>
        <th> {{schedule.availability.start_time }} </th>
        <th> {{schedule.order }}</th>
        <th> {{schedule.activity.name}} </th>

    </tr>
{% endfor %}
</table>

<p><a href="rotw/schedule_recalculation/{{ schedule.user.id }}/{{ schedule.plan.id }}">recalculate results</a></p>

{% endblock %}