<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Schedule details {% endblock %}

{% block content %}

<p> user: {{ schedule.user.username }}</p>
<p> plan starting {{ schedule.plan.start_date }}</p>

<p> schedule </p>




{% for day in graph %}

    <div>
        {% for day, slot, activity, color in day %}
            <p class="schedule" style="background-color:{{ color }}">
                <span style="font-size: x-small">{{ slot }}</span> <br>{{ activity }}
            </p>

        {%  endfor %}
    </div>

{% endfor %}


<table>
    <tr>
        <th> day  </th>
        <th> hour </th>
        <th> order </th>
        <th> activity </th>
    </tr>

{% for a in schedule %}
    <tr>
        <th> {{a.slot.day  }}</th>
        <th> {{a.get_start_time_display}} </th>
        <th> {{a.order }}</th>
        <th> {{a.activity.name}} </th>

    </tr>
{% endfor %}
</table>

<p><a href="/rotw/schedule_recalculation/{{ user.id }}/{{ plan.id }}">recalculate results</a></p>

{% endblock %}